---
version: "3"
services:
  ouroboros:
    image: pyouroboros/ouroboros
    container_name: ouroboros
    environment:
{% for option, value in configuration.items() %}
      - {{ option }}={{ value }}
{% endfor %}
    volumes:
      - "/root/.docker/config.json:/root/.docker/config.json"
      - "/var/run/docker.sock:/var/run/docker.sock"
    restart: unless-stopped
