[Unit]
Description=Ouroboros
Requires=docker.service
After=docker.service

[Service]
Restart=always
TimeoutStartSec=5min
ExecStart=/usr/local/bin/ouroboros --interval {{ check_interval }}

[Install]
WantedBy=multi-user.target
